*{
margin: 0;
padding: 0;
font-family: 'Poppines' , sans-serif;
box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    /* background: linear-gradient(135deg ,#9F9BEB,#B6BDBF); */
    padding: 10px;
    background: url(/assets/img/background3.svg);
    background-repeat: no-repeat; 
    background-position: center center; 
    background-size: cover; 
}
.todo-app{
    width: 100%;
    max-width: 540px;
    /* background: #fff; */
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 20px;
    border: 5px solid  rgba(255, 255, 255, 0.5);;
    /* background-color: rgba(255, 255, 255, 0.7); */
    /* box-shadow: inset -5px -5px rgba(255, 255, 255, 0.9); */
    background: transparent;
    backdrop-filter:blur(15px) ;

}
.todo-app h2{
    color:#153677;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    gap:10px;
}
.todo-app h2 img{
  width:30px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    padding-left: 20px;
    margin-bottom: 25px;
    border-radius: 40px;
}
input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
    
}

button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #ff5945;
    color:#fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}

ul li {
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(/assets/img/circle.png);
    background-size: cover;
    background-position: center;
    top:8px;
    left: 8px;
}

ul li.checked{
    color: brown;
    text-decoration: line-through;
}
ul li.checked::before{
     background-image: url(/assets/img/checked.png);
}
ul li span{
    position: absolute;
    right: 0;
    top:5px;
    width: 40px;
    height: 40px;
    font-size: 25px;
    color:#555 ;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;

}
ul li span:hover{
    /* background: #edeef0; */
    background:#ff5945;
}